<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/home.css">
    <title>Suplestoque</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1>Aqui é um titulo</h1>
        <br>
        <H2>Aqui é um home</H2>
        </div>
        
    </div>
    
</body>
</html>